# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/config
run/defaultconfigs
run/downloads
run/logs
run/crash-reports
run/patchouli_books
run/resourcepacks
run/saves
run/screenshots
run/command_history.txt
run/options.txt
run/patchouli_data.json
run/usercache.json
run/usernamecache.json
run/imgui.ini
runs
run-data

repo
.github

# generated
src/generated